form{
    padding: 50px;
    margin-top: 10px;
}
.formContainer
{
    background-color:#eeb7a6 ;
    width: 600px !important;
    padding: 40px 20px;    
    border-radius: 25px;

}
.formContainer h3{
    margin-bottom: 20px;
}
.formContainer button
{
    background-color: orangered!important;
    margin-top: 10px;
}