html {
    height: 100%;
  }
  body {
    min-height: 100%;
    
    position: relative;
  }

form{
    padding: 50px;
    margin-top: 10px;
}
.loginContainer
{
    width: 350px !important;
    padding: 40px 20px;    
    border-radius: 25px;
    background-color: white;

}
.loginContainer h3{
    margin-bottom: 20px;
}
.loginContainer button
{
    background-color: orangered!important;
    margin-top: 10px;
}
.loginbody
{
    background-image: url("../image/loginbg1.jpg");
    background-size: cover;
    height: 100%;
    position: absolute;
}